{% extends 'layout.html' %}
{% block users %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      L-blog
      <small>所有用户组</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
      <li><a href="#">用户管理</a></li>
      <li class="active">所有用户组</li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">所有用户组</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover  table-bordered table-striped">
              <tr>
                <th>序号</th>
                <th>组ID</th>
                <th>组名称</th>
                <th>描述</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
              <tr>
                <td>183</td>
                <td>183</td>
                <td>John Doe</td>
                <td>11-7-2014</td>
                <td>启用</td>
                <td>
                  <button type="button" class="btn btn-danger">禁用</button>
                  <button type="button" class="btn btn-primary">编辑</button>
                  <button type="button" class="btn btn-warning">权限分配</button>
                  <button type="button" class="btn btn-info">投稿分类</button>
                </td>
              </tr>
              <tr>
                <td>183</td>
                <td>219</td>
                <td>Alexander Pierce</td>
                <td>11-7-2014</td>
                <td>启用</td>
                <td>
                  <button type="button" class="btn btn-danger">禁用</button>
                  <button type="button" class="btn btn-primary">编辑</button>
                  <button type="button" class="btn btn-warning">权限分配</button>
                  <button type="button" class="btn btn-info">投稿分类</button>
                </td>
              </tr>
              <tr>
                <td>183</td>
                <td>657</td>
                <td>Bob Doe</td>
                <td>11-7-2014</td>
                <td>启用</td>
                <td>
                  <button type="button" class="btn btn-danger">禁用</button>
                  <button type="button" class="btn btn-primary">编辑</button>
                  <button type="button" class="btn btn-warning">权限分配</button>
                  <button type="button" class="btn btn-info">投稿分类</button>
                </td>
              </tr>
              <tr>
                <td>183</td>
                <td>175</td>
                <td>Mike Doe</td>
                <td>11-7-2014</td>
                <td>启用</td>
                <td>
                  <button type="button" class="btn btn-danger">禁用</button>
                  <button type="button" class="btn btn-primary">编辑</button>
                  <button type="button" class="btn btn-warning">权限分配</button>
                  <button type="button" class="btn btn-info">投稿分类</button>
                </td>
              </tr>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>

</div>
{% endblock %}